<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Not Authenticated</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .content {
            text-align: center;
        }

        img {
            width: 80vw;
            max-width: 500px;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="content">
        <h1>User Not Authenticated</h1>
        <p>Please log in to access this page.</p>
        <img src="https://cdn.glitch.com/0e4d1ff3-5897-47c5-9711-d026c01539b8%2Fbddfd6e4434f42662b009295c9bab86e.gif?v=1573157191712"
            alt="User Not Authenticated GIF">
    </div>
</body>

</html>